<?xml version="1.0"?>
<!-- ros_control 用的关节传动（hardware_interface/EffortJointInterface）。
     只在 Gazebo/ROS 链路需要：xacro/robot.xacro 的 transmission:=true 时才包含。
     对 Isaac Lab / MuJoCo 无意义，故不放进 core.xacro。
     注意：旧的 xacro/common/transmission.xacro 声明 params="name" 却使用 ${prefix}，
     且没有任何地方 include 它，是死代码；这里改成显式 params="prefix"。 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="leg_transmission" params="prefix">
        <xacro:one_transmission prefix="${prefix}" joint="hip"/>
        <xacro:one_transmission prefix="${prefix}" joint="thigh"/>
        <xacro:one_transmission prefix="${prefix}" joint="shank"/>
    </xacro:macro>

    <xacro:macro name="one_transmission" params="prefix joint">
        <transmission name="${prefix}_${joint}_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_${joint}_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_${joint}_motor">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

</robot>
