<?xml version="1.0" encoding="utf-8"?>

<robot name="Imgo2">
    <mujoco>
        <compiler meshdir="../meshes/" balanceinertia="false" discardvisual="false" fusestatic="false"/>
    </mujoco>
    <link name="base">
        <inertial>
            <origin rpy="0 0 0" xyz="-0.00002223 -0.00136579 0.00287896"/>
            <mass value="6.53394020"/>
            <inertia ixx="0.02469352" ixy="0.00000959" ixz="0.00000146" 
                    iyy="0.06648693" iyz="-0.00006132" 
                    izz="0.08016976"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.0"/>
            <geometry>
                <mesh filename="../meshes/base.STL"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.315 0.243 0.147"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0 0" xyz="0.136 0.07 -0.08325"/>
            <geometry>
                <box size="0.018 0.012 0.018"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0 0" xyz="0.136 -0.07 -0.08325"/>
            <geometry>
                <box size="0.018 0.012 0.018"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0 0" xyz="-0.136 0.07 -0.08325"/>
            <geometry>
                <box size="0.018 0.012 0.018"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0 0" xyz="-0.136 -0.07 -0.08325"/>
            <geometry>
                <box size="0.018 0.012 0.018"/>
            </geometry>
        </collision>
    </link>
    <!-- FL FR RL RR -->
    <!-- 148.5 -->
    <!--!!!!!!!!!!!! Front Left Leg !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <link name="FL_HIP">
        <inertial>
            <origin xyz="0.05776150 0.01631658 0.00001927"/>
            <mass value="0.66982842"/>
            <inertia ixx="0.00047165" ixy="-0.00002152" ixz="-0.00000604" 
                    iyy="0.00094023" iyz="0.00000025" 
                    izz="0.00063679"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/FL_hip.STL" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.063 0.013 0.0"/>
            <geometry>
                <cylinder length="0.041" radius="0.048"/>
            </geometry>
        </collision>
    </link>

    <joint name="FL_hip_joint" type="revolute">
        <origin xyz="0.1575 0.067 0.00025"/>
        <parent link="base"/>
        <child link="FL_HIP"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.523" upper="0.523" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="FL_THIGH">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="-0.00429543 0.04392351 -0.03236426"/>
            <mass value="0.96995719 "/>
            <inertia ixx="0.00506421" ixy="0.00008162" ixz="-0.00034748" 
                    iyy="0.00527087" iyz="0.00062882" 
                    izz="0.00088197"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/L_thigh.STL"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 0.0235 0.0"/>
            <geometry>
                <cylinder length="0.046" radius="0.048"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.137 0.0" xyz="-0.012 0.0637 -0.08"/>
            <geometry>
                <box size="0.06 0.032 0.22"/>
            </geometry>
        </collision>
    </link>
    <joint name="FL_thigh_joint" type="revolute">
        <origin xyz="0.063 0.0346 0"/>
        <parent link="FL_HIP"/>
        <child link="FL_THIGH"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.9" upper="2.87" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="FL_SHANK">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="0.00291507 0.00773582 -0.08768836"/>
            <mass value="0.09561741 "/>
            <inertia ixx="0.00054414" ixy="0.00000025" ixz="0.00000058" 
                    iyy="0.00055144" iyz="0.00000263" 
                    izz="0.00001064"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/L_shank.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0.0 -0.1 0.0" xyz="0.0 0.008 -0.05"/>
            <geometry>
                <cylinder length="0.1" radius="0.012"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.1 0.0" xyz="0.005 0.008 -0.14"/>
            <geometry>
                <cylinder length="0.08" radius="0.012"/>
            </geometry>
        </collision>
    </link>

    <joint name="FL_shank_joint" type="revolute">
        <origin xyz="0 0.0557 -0.22"/>
        <parent link="FL_THIGH"/>
        <child link="FL_SHANK"/>
        <axis xyz="0 1 0"/>
        <limit lower="-3.0" upper="-0.733" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="FL_FOOT">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="-0.00797137 0.00353495 -0.02130484"/>
            <mass value="0.056"/>
            <inertia ixx="9.6e-06" ixy="0" ixz="0" iyy="9.6e-06" iyz="0" izz="9.6e-06" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/foot.STL"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="-0.008 0.0035 0.01"/>
            <geometry>
                <cylinder length="0.02" radius="0.0155"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="-0.008 0.0035 -0.02"/>
            <geometry>
                <sphere radius="0.022" />
            </geometry>
        </collision>
    </link>

    <joint name="FL_Ankle" type="fixed" dont_collapse="true">
        <parent link="FL_SHANK"/>
        <child link="FL_FOOT"/>
        <origin rpy="0.0 0.777 0.0" xyz="0.0 0.00455 -0.206"/>
    </joint>

    <!--!!!!!!!!!!!! Front Right Leg !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <link name="FR_HIP">
        <inertial>
            <origin xyz="0.05776150 -0.01631658 0.00001927"/>
            <mass value="0.66982842"/>
            <inertia ixx="0.00047165" ixy="0.00002152" ixz="-0.00000604" 
                    iyy="0.00094023" iyz="-0.00000025" 
                    izz="0.00063679"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/FR_hip.STL" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.063 -0.013 0.0"/>
            <geometry>
                <cylinder length="0.041" radius="0.048"/>
            </geometry>
        </collision>
    </link>

    <joint name="FR_hip_joint" type="revolute">
        <origin xyz="0.1575 -0.067 0.00025"/>
        <parent link="base"/>
        <child link="FR_HIP"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.523" upper="0.523" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="FR_THIGH">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="-0.00429543 -0.04392351 -0.03236426"/>
            <mass value="0.96995719 "/>
            <inertia ixx="0.00506421" ixy="-0.00008162" ixz="-0.00034748" 
                    iyy="0.00527087" iyz="-0.00062882" 
                    izz="0.00088197"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/R_thigh.STL"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 -0.0235 0.0"/>
            <geometry>
                <cylinder length="0.046" radius="0.048"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.137 0.0" xyz="-0.012 -0.0637 -0.08"/>
            <geometry>
                <box size="0.06 0.032 0.22"/>
            </geometry>
        </collision>
    </link>
    <joint name="FR_thigh_joint" type="revolute">
        <origin xyz="0.063 -0.0346 0"/>
        <parent link="FR_HIP"/>
        <child link="FR_THIGH"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.9" upper="2.87" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="FR_SHANK">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="0.00291507 -0.00773582 -0.08768836"/>
            <mass value="0.09561741 "/>
            <inertia ixx="0.00054414" ixy="-0.00000025" ixz="0.00000058" 
                    iyy="0.00055144" iyz="-0.00000263" 
                    izz="0.00001064"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/R_shank.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0.0 -0.1 0.0" xyz="0.0 -0.008 -0.05"/>
            <geometry>
                <cylinder length="0.1" radius="0.012"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.1 0.0" xyz="0.005 -0.008 -0.14"/>
            <geometry>
                <cylinder length="0.08" radius="0.012"/>
            </geometry>
        </collision>
    </link>

    <joint name="FR_shank_joint" type="revolute">
        <origin xyz="0 -0.0557 -0.22"/>
        <parent link="FR_THIGH"/>
        <child link="FR_SHANK"/>
        <axis xyz="0 1 0"/>
        <limit lower="-3.0" upper="-0.733" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="FR_FOOT">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="-0.00797137 0.00353495 -0.02130484"/>
            <mass value="0.056"/>
            <inertia ixx="9.6e-06" ixy="0" ixz="0" iyy="9.6e-06" iyz="0" izz="9.6e-06" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/foot.STL"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="-0.008 -0.0035 0.01"/>
            <geometry>
                <cylinder length="0.02" radius="0.0155"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="-0.008 -0.0035 -0.02"/>
            <geometry>
                <sphere radius="0.022" />
            </geometry>
        </collision>
    </link>

    <joint name="FR_Ankle" type="fixed" dont_collapse="true">
        <parent link="FR_SHANK"/>
        <child link="FR_FOOT"/>
        <origin rpy="0.0 0.777 0.0" xyz="0.0 -0.01145 -0.206"/>
    </joint>
    
    <!--!!!!!!!!!!!! Back Left Leg !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
     <link name="RL_HIP">
        <inertial>
            <origin xyz="-0.05776150 0.01631658 0.00001927"/>
            <mass value="0.66982842"/>
            <inertia ixx="0.00047165" ixy="0.00002152" ixz="0.00000604" 
                    iyy="0.00094023" iyz="0.00000025" 
                    izz="0.00063679"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/RL_hip.STL" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0.0 0.0" xyz="-0.063 0.013 0.0"/>
            <geometry>
                <cylinder length="0.041" radius="0.048"/>
            </geometry>
        </collision>
    </link>

    <joint name="RL_hip_joint" type="revolute">
        <origin xyz="-0.1575 0.067 0.00025"/>
        <parent link="base"/>
        <child link="RL_HIP"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.523" upper="0.523" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="RL_THIGH">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="0.00429543 0.04392351 -0.03236426"/>
            <mass value="0.96995719 "/>
            <inertia ixx="0.00506421" ixy="0.00008162" ixz="-0.00034748" 
                    iyy="0.00527087" iyz="0.00062882" 
                    izz="0.00088197"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/L_thigh.STL"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 0.0235 0.0"/>
            <geometry>
                <cylinder length="0.046" radius="0.048"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.137 0.0" xyz="-0.012 0.0637 -0.08"/>
            <geometry>
                <box size="0.06 0.032 0.22"/>
            </geometry>
        </collision>
    </link>
    <joint name="RL_thigh_joint" type="revolute">
        <origin xyz="-0.063 0.0346 0"/>
        <parent link="RL_HIP"/>
        <child link="RL_THIGH"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.9" upper="2.87" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="RL_SHANK">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="0.00291507 0.00773582 -0.08768836"/>
            <mass value="0.09561741 "/>
            <inertia ixx="0.00054414" ixy="0.00000025" ixz="0.00000058" 
                    iyy="0.00055144" iyz="0.00000263" 
                    izz="0.00001064"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/L_shank.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0.0 -0.1 0.0" xyz="0.0 0.008 -0.05"/>
            <geometry>
                <cylinder length="0.1" radius="0.012"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.1 0.0" xyz="0.005 0.008 -0.14"/>
            <geometry>
                <cylinder length="0.08" radius="0.012"/>
            </geometry>
        </collision>
    </link>

    <joint name="RL_shank_joint" type="revolute">
        <origin xyz="0 0.0557 -0.22"/>
        <parent link="RL_THIGH"/>
        <child link="RL_SHANK"/>
        <axis xyz="0 1 0"/>
        <limit lower="-3.0" upper="-0.733" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="RL_FOOT">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="-0.00797137 0.00353495 -0.02130484"/>
            <mass value="0.056"/>
            <inertia ixx="9.6e-06" ixy="0" ixz="0" iyy="9.6e-06" iyz="0" izz="9.6e-06" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/foot.STL"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="-0.008 0.0035 0.01"/>
            <geometry>
                <cylinder length="0.02" radius="0.0155"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="-0.008 0.0035 -0.02"/>
            <geometry>
                <sphere radius="0.022" />
            </geometry>
        </collision>
    </link>

    <joint name="RL_Ankle" type="fixed" dont_collapse="true">
        <parent link="RL_SHANK"/>
        <child link="RL_FOOT"/>
        <origin rpy="0.0 0.777 0.0" xyz="0.0 0.00455 -0.206"/>
    </joint>

    <!--!!!!!!!!!!!! Back Right Leg !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <link name="RR_HIP">
        <inertial>
            <origin xyz="-0.05776150 -0.01631658 0.00001927"/>
            <mass value="0.66982842"/>
            <inertia ixx="0.00047165" ixy="-0.00002152" ixz="0.00000604" 
                    iyy="0.00094023" iyz="-0.00000025" 
                    izz="0.00063679"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/RR_hip.STL" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0.0 0.0" xyz="-0.063 -0.013 0.0"/>
            <geometry>
                <cylinder length="0.041" radius="0.048"/>
            </geometry>
        </collision>
    </link>

    <joint name="RR_hip_joint" type="revolute">
        <origin xyz="-0.1575 -0.067 0.00025"/>
        <parent link="base"/>
        <child link="RR_HIP"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.523" upper="0.523" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="RR_THIGH">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="0.00429543 -0.04392351 -0.03236426"/>
            <mass value="0.96995719 "/>
            <inertia ixx="0.00506421" ixy="-0.00008162" ixz="-0.00034748" 
                    iyy="0.00527087" iyz="-0.00062882" 
                    izz="0.00088197"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/R_thigh.STL"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 -0.0235 0.0"/>
            <geometry>
                <cylinder length="0.046" radius="0.048"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.137 0.0" xyz="-0.012 -0.0637 -0.08"/>
            <geometry>
                <box size="0.06 0.032 0.22"/>
            </geometry>
        </collision>
    </link>
    <joint name="RR_thigh_joint" type="revolute">
        <origin xyz="-0.063 -0.0346 0"/>
        <parent link="RR_HIP"/>
        <child link="RR_THIGH"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.9" upper="2.87" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="RR_SHANK">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="0.00291507 -0.00773582 -0.08768836"/>
            <mass value="0.09561741 "/>
            <inertia ixx="0.00054414" ixy="-0.00000025" ixz="0.00000058" 
                    iyy="0.00055144" iyz="-0.00000263" 
                    izz="0.00001064"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/R_shank.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0.0 -0.1 0.0" xyz="0.0 -0.008 -0.05"/>
            <geometry>
                <cylinder length="0.1" radius="0.012"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.1 0.0" xyz="0.005 -0.008 -0.14"/>
            <geometry>
                <cylinder length="0.08" radius="0.012"/>
            </geometry>
        </collision>
    </link>

    <joint name="RR_shank_joint" type="revolute">
        <origin xyz="0 -0.0557 -0.22"/>
        <parent link="RR_THIGH"/>
        <child link="RR_SHANK"/>
        <axis xyz="0 1 0"/>
        <limit lower="-3.0" upper="-0.733" effort="23.7" velocity="30.1"/>
    </joint>

    <link name="RR_FOOT">
        <inertial>
            <origin rpy="0.0 0.0 0.0" xyz="-0.00797137 0.00353495 -0.02130484"/>
            <mass value="0.056"/>
            <inertia ixx="9.6e-06" ixy="0" ixz="0" iyy="9.6e-06" iyz="0" izz="9.6e-06" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="../meshes/foot.STL"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="-0.008 -0.0035 0.01"/>
            <geometry>
                <cylinder length="0.02" radius="0.0155"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="-0.008 -0.0035 -0.02"/>
            <geometry>
                <sphere radius="0.022" />
            </geometry>
        </collision>
    </link>

    <joint name="RR_Ankle" type="fixed" dont_collapse="true">
        <parent link="RR_SHANK"/>
        <child link="RR_FOOT"/>
        <origin rpy="0.0 0.777 0.0" xyz="0.0 -0.01145 -0.206"/>
    </joint>
</robot>
